body{
    background-color:rgb(240,243,240);
    margin:0;
}
#a{
  margin: 0;
  position: relative;
  display: block;
}
.top{
  background: rgb(227,228,229);
  width: 100%;
  height:31px;
  display: block;
  position: absolute;
  white-space: nowrap;
}
ul{
  list-style: none;
  display: block;
}
a:link{
  text-decoration: none;
}
.lb1{
  position: absolute;
  display: block;
  margin: 0;
  left:38%;
  top:22%;
  
}

.lb1,li{
  display: block; 
  display: inline-block;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
  font-size: 12px;
  margin-left:8px;

}
.zt1{
    color:#989898;
}
.zt1:hover{
  color: red;
}
.zt2{
  color:RED;
}
.shux1{
    overflow: hidden;
    width: 1px;
    height: 10px;
    background-color:#989898;
}
.kuoh1{
  vertical-align: text-bottom!important;
}
.xial1{
  margin:0;
 
}
.box1{
  display:none;
  position: absolute;
  background-color:#ffffff;
  width:282px;
  height:163px;
}
.xial1:hover{
  display: line;
}
.boxxx1{
  line-height: 24px;
}
.sous{
  background-color:#ffffff;
  position: relative;
  display: block;
  width:400px;
  height:35px;
  left:85%;
  top: 25px;
}
.head{
  top:31px;
  position: absolute;
  width: auto;
  height:140px;
}
input{
  width:390px;
  height:35px;
  float: left;
}
button{
  float: left;
  background-color: red;
  width: 50px;
  height: 35px;
  border-bottom-style: none;
}